@charset "utf-8";

/*---------------------------------------------------------------------------
page-14
----------------------------------------------------------------------------*/
.page-14 {
  position:relative;
  z-index: 0;
  padding-bottom: 60px;
  background:
  url("../img/sanramera/column_bg.png") right 16px top 0 no-repeat,
  $w0 url("../img/sanramera/column_bg_l.png") left 16px top 0 no-repeat;
  background-size: 500px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  @media screen and (max-width: 1380px) {
    background:
    url("../img/sanramera/column_bg.png") right 16px top 0 no-repeat,
    $w0 url("../img/sanramera/column_bg_l.png") left 16px top 0 no-repeat;
    background-size: 400px;
  }
  @include sp {
    background:$w0 url("../img/sanramera/column_bg.png") center top 100px no-repeat;
    background-size: 400px;
  }
  &-tag {
    width: 231px;
    margin: 0 auto;
    padding: 0;
    img {
      width: 100%;
    }
    @include sp {
      width: 180px;
    }
  }
  &-wrap {
    padding: 40px 0 0;
    @include pc {
      padding: 40px 16px 0;
    }
    @include sp {
      padding: 250px 0 0;
    }
    &-title{
      width: 100%;
      display: block;
      margin: 0 auto;
      text-align: center;
      .column {
        &-1st {
          background: #f08300;
          color: $w0;
          text-align: center;
          margin: 0 auto 16px;
          display: inline-block;
          font-weight: bold;
          font-size: 18px;
          letter-spacing: 2px;
          padding: 4px 8px;
          @include sp {
            width: 90%;
            font-size: 16px;
            padding: 4px 8px;
            border-radius: 4px;
            letter-spacing: 1px;
            margin: 0 auto 24px;
          }
        }
      }
      h2 {
        position: relative;
        margin: 16px auto 0;
        width: 554px;
        text-align: center;
        img {
          width: 100%;
        }
        @include sp {
          width: 280px;
        }
      }
      blockquote {
        padding: 8px;
        text-align: center;
        @include sp {
          width: 96%;
          font-size: 12px;
          margin: 0 auto;
        }
      }
    }
    .text {
      padding: 56px 88px 40px 64px;
      @include pc {
        padding: 32px 24px 24px;
      }
      @include sp {
        padding: 32px 24px 24px;
      }
      &-box {
        position: relative;
        h3 {
          font-size: 22px;
          margin-bottom: 8px;
          color: $b1;
          letter-spacing: 2px;
          font-weight: bold;
          text-align: justify;
          b {
            color: #f08300;
            font-size: 120%;
          }
          @include sp {
            font-size: 18px;
            letter-spacing: 1px;
          }
        }
        p {
          line-height: 1.8;
          letter-spacing: 2px;
          text-align: justify;
          margin-bottom: 32px;
          font-size: 16px;
          @include sp {
            font-size: 14px;
            letter-spacing: 1px;
          }
          &.txt1 {
            width: 100%;
          }
          &.txt2 {
            width: 100%;
          }
          &.txt3 {

          }
          .marker {
            background: -webkit-linear-gradient(transparent 50%, rgba(#f08300,.2) 50%);
            background: -o-linear-gradient(transparent 50%, rgba(#f08300,.2) 50%);
            background: linear-gradient(transparent 50%, rgba(#f08300,.2) 50%);
          }
        }
      }
    }
  }
}

.illust-box {
  position: absolute;
  &.pos8 {
    position: static;
    float:right;
    width: 580px;
    margin: -80px 0 12px 24px;
    @include pc {
      width: 500px;
      margin: 8px 0 8px 16px;
    }
    @include sp {
      width: 100%;
      margin: 8px 0 8px 16px;
    }
    img {
      width: 100%;
    }
  }
  &.pos9 {
    position: static;
    float:left;
    width: 360px;
    margin: 10px 0 24px;
    @include pc {
      width: 300px;
      margin: 0 16px 16px 0;
    }
    @include sp {
      width: 180px;
      margin: 0 16px 0 0;
    }
    img {
      width: 100%;
    }
  }
  &.pos10 {
    position: static;
    float:right;
    width: 320px;
    margin: -80px 0 24px 24px;
    @include pc {
      margin: -20px 0 24px 24px;
    }
    @include sp {
      width: 160px;
      margin: 0 0 0 0;
    }
    img {
      width: 100%;
    }
  }
}

.page-14-koe {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0 auto 40px;
  border-radius: 8px;
  justify-content: space-evenly;
  @include pc {
    justify-content: center;
    flex-wrap: wrap;
  }
  &-lr {
    .page-14-koe-name {
      position: relative;
      @include sp {
        padding-top: 1.5em;
      }
    }
    background: rgba(#ebb396,0.1);
    width: 70%;
    padding: 16px 16px 10px 16px;
    box-shadow: 0 0 8px rgba(#ebb396,0.1);
    .flexbox {
      display: flex;
      justify-content: flex-start;
      @include sp {
        padding: 8px 8px 0;
      }
    }
    .page-14-koe-name:before {
      content: 'メーカー会長';
      font-size: 14px;
      position: relative;
      top: 25px;
      margin-right: 8px;
      @include sp {
        position: absolute;
        top: 4px;
      }
    }
    @include pc {
      width: 90%;
      margin-bottom: 16px;
    }
    @include sp {
      padding: 8px;
    }
  }
  &-photo {
    margin-right: 16px;
    width: 100px;
    img {
      width: 100%;
    }
  }
  &-disp {
    margin-bottom: 8px;
  }
  &-name {
    display: flex;
    &-l, &-r {
      text-align: center;
      margin-right: 8px;
      small {
        font-size: 12px;
      }
      p {
        font-size: 18px;
      }
    }
    &:after {
      content: '先生';
      font-size: 14px;
      position: relative;
      top: 25px;
    }
  }
  &-copy {
    font-size: 20px;
    border-bottom: 1px solid $b9;
    font-family: serif;
    font-weight: bold;
    margin-top: 8px;
    text-align: justify;
    letter-spacing: 1px;
  }
  blockquote {
    margin: 8px;
    text-align: justify;
    @include sp {
      font-size: 14px;
      line-height: 1.4;
      padding: 0;
    }
  }
}
